<ion-view view-title="chaty">
    <ion-content class="homepage">
        <div class="overlay">
            <div class="contents">

                <div class="list">
                    <form novalidate ng-submit="submited=true ;loginn(loginForm.$valid)" name="loginForm">
                        <label class="item item-input item-stacked-label">
        <span class="input-label">username</span>
        <input type="text" ng-model="loginuser.username" name="username" required>
        <p class="error" ng-if="submited && loginForm.username.$error.required">Enter user name </p>

      </label>
                        <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginuser.password" name="pass" required>
        <p class="error" ng-if="submited && loginForm.pass.$error.required">Enter your password </p>

      </label>
                        <button class="button button-block button-positive">
        Log in
      </button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>