<ion-view>
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Chaty</h1>
            </div>
        </div>

    <div class="padding">
      <button ui-sref="basic.login" class="button button-block button-positive ">
            Login
        </button>
      <button ui-sref="basic.register" class="button button-block button-royal ">
            Register
        </button>
    </div>
  </ion-content>
</ion-view>


